<section class="groups">
  <ul>
    <% @groups.each do |group|%>
      <li>
        <%= link_to group_path(group) do %>
          <h2><%= group.name %></h2>
        <% end %>
        <p><%= group.icon %></p>
        <p>Total Amount: XXXX</p>        
      </li>
    <% end %>
  </ul>
  <%= link_to "New Category", new_group_path %>
</section>