<section class="paidUps">
<button> Back < to home </button>
  <h1><%= @group.name %> transactions </h1>
  <p>Total</p>
    <h2></h2>
    <% @paid_ups.each do |paid|%>
      <li>   
        <h2><%= paid.name %></h2>
        <p><%= paid.amount %></p>
        <p><%= link_to 'View details', group_paid_up_path(@group, paid) %></p>
      </li>
      <% end %>
  </ul>
  <button>New Transaction</button>
</section>