<div class="w-full bg-cGreen-100 fixed bottom-0 h-24">
  <%= link_to link_text, link_path, 
  class: "absolute w-10/12 bottom-4 border-2 border-gray-200 bg-cGreen-100 
  text-center py-4 mx-auto rounded text-white left-1/2 transform -translate-x-1/2 hover:scale-105 transition-all" %>
</div>