<div class="loader absolute left-[36%] md:left-[42%] 2xl:left-[45%] text-7xl w-28 h-28 top-1/4 rounded-[50%] font-bold
      text-[#daa520] bg-[#ffd700] leading-[100px] border-double border-4 shadow-md text-center">
      $
    </div>