<% unless user_signed_in? %>
  <section class="min-h-screen flex flex-col justify-center relative md:w-[50%] mx-auto text-center">
    <%= render partial: 'shared/loader_spinner' %>
    <div class="text-center">
      <h1 class="text-4xl md:text-6xl xl:text-8xl text-gray-600 font-serif">Paid ups</h1>
    </div>
    <div class="mt-4 flex flex-col absolute bottom-0 min-w-full text-center text-1xl">
      <%= link_to 'LOG IN', new_user_session_path, class: 'bg-cBlue-100 text-white py-4 md:py-8 mx-4 rounded' %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: 'mt-2 text-gray-400 py-4 md:py-8 rounded' %>
    </div>
  </section>
<% end %>
