<section class="flex-col items-center w-full bg-gray-100 min-h-screen">
  <%= link_to 'â—€ï¸ ', group_path(@group),
  class: "absolute text-white top-12 left-2 text-xl"%>
  <h1 class="py-6 bg-cBlue-100 min-w-full text-white text-center text-2xl font-bold">
    Transaction details
  </h1>
  <div class="flex flex-row justify-around w-11/12 items-center bg-white mx-auto my-4">
    <p class="italic"><%= @paid_up.name %></p>
    <p class="italic font-bold">$<%= @paid_up.amount %></p>  
  </div>
  <p class="italic flex flex-row justify-around w-11/12 items-center bg-white mx-auto my-4">
    <%= @paid_up.created_at %></p>
</section>